---
// 1. The frontmatter prop gives access to frontmatter and other data
const { frontmatter } = Astro.props;
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
const { title } = Astro.props.frontmatter || Astro.props;
const { date } = Astro.props.frontmatter || Astro.props;
---
<html lang="en">
  <head>
    <!-- Add other Head elements here, like styles and meta tags. -->
    <Header title={SITE_TITLE} />
    <BaseHead />
    <title>{title}</title>
  </head>
  <body>
    <main>
    <!-- Add other UI components here, like common headers and footers. -->
    <!--<h1>{frontmatter.title} by {frontmatter.author}</h1> --->
    <!-- 2. Rendered HTML will be passed into the default slot. -->
    <slot />
    <p>Written on: {date}</p>
    <Footer />
  </body>
    <main>
</html>
